/********************************/
/*  Resets default browser CSS  */
/********************************/

html {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5; /* specifies the height of a line */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

nav,
div,
main,
dl {
  display: block;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.84rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.52rem;
}

h5 {
  font-size: 1.36rem;
}

h6 {
  font-size: 1.2rem;
}

/********************************/
/********************************/
